---
import Layout from '../layouts/default.astro';

const response = await fetch('https://dog.ceo/api/breeds/list/all');

if (!response.ok) {
  throw new Error('Error loading data');
}

const data = await response.json();
const dogs = Object.keys(data.message);
---

<Layout title="External Data">
  <h1>External Data</h1>

  <p>
    <a href="https://dog.ceo/dog-api/documentation/">Data from the Dog API</a>
  </p>
  <section class="box">
    <ul class="list flex">
      {dogs.map((dog) => (
        <li>{dog}</li>
      ))}
    </ul>
  </section>
</Layout>