---
import Layout from '../layouts/default.astro';
import Aside from '../components/aside.astro';

const title = 'Astro Party Workshop';
---

<Layout title={title}>
	<h1>{title}</h1>
	<p>Isn't this cool?</p>

	<Aside icon="💡">
		<p>Don't miss this part!</p>
	</Aside>
</Layout>
