---
import Layout from '../layouts/default.astro';
import Callout from '../components/callout.astro';
import { Counter } from '../components/counter.react';

const title = 'Astro Party';
---

<Layout title={title}>
	<h1>{title}</h1>

	<p>
		Click this button for luck:
		<Counter client:visible />
	</p>

	<Callout icon="🔥" iconDescription="fire">
		<p>Oh dang, look at this!</p>
	</Callout>
</Layout>
