---
export interface Props {
	icon?: string;
}

const { icon = '👻' } = Astro.props;
---

<aside>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
		><text y=".9em" font-size="90">{icon}</text></svg
	>
	<div class="content">
		<slot />
	</div>
</aside>

<style>
	aside {
		align-items: center;
		background: lightyellow;
		border: 1px solid #dd0;
		border-radius: 0.25rem;
		display: flex;
		gap: 1rem;
		margin: 1rem 0;
		padding: 0.5rem;

		svg {
			display: inline-block;
			inline-size: 1.5rem;
		}

		p {
			margin: 0;
		}
	}
</style>
