---
import Layout from '../../layouts/default.astro';

export const prerender = false;

const { slug } = Astro.params;

const title = `Current slug: ${slug}`;
---

<Layout title={title}>
	<nav class="subnav flex">
		<a href="/server/1">Dynamic 1</a>
		<a href="/server/2">Dynamic 2</a>
		<a href="/server/3">Dynamic 3</a>
	</nav>

	<h1>{title}</h1>
</Layout>
