---
import Layout from '../../layouts/default.astro';

export function getStaticPaths() {
	return [
		{ params: { slug: '1' }, props: { title: 'Static 1' } },
		{ params: { slug: '2' }, props: { title: 'Static 2' } },
		{ params: { slug: '3' }, props: { title: 'Static 3' } },
	];
}

const { title } = Astro.props;
---

<Layout title={title}>
	<nav class="subnav flex">
		<a href="/static/1">Static 1</a>
		<a href="/static/2">Static 2</a>
		<a href="/static/3">Static 3</a>
	</nav>

	<h1>{title}</h1>
</Layout>
